* {
	margin:0px;
	padding:0px;
}

body {
	background-color: #F6F7D4;
}

#navBarDiv{
	height: 46px; 
	background-color: #F6F7D4;
}

#center{
	width: 40%;
	display: inline-block;
}

#center a{
	display: block;
	background-color: #E6AC27;
	color: #655643;
	font-weight: bold;
	list-style-position:inside;
}

#centerImg {
	/*margin: 0 auto;*/
	width: 78vh;
	height: 78vh;
	border: 1vw solid #E6AC27;
	border-radius: 50%;
	padding: 0px;
	background-color: #F6F7D4;
	/*transform: translateY(6vh);*/
	overflow: hidden;

	/*background-image: url('images/cafe1.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-clip: padding-box;*/

	/*background: url("");
	background-size: 100%;
	background-repeat: no-repeat;*/
}

#centerImg img{
	margin: 0 auto;
	height: 100%; 
	width: 100%; 
	object-fit: contain

}

#oldPics div{
	display: inline-block;
	vertical-align: top;
	width: 33%;
	/*background-color: red;*/
	line-height: 0;
}

#oldPics div img{
	width:80%;
	height:auto;
	border: .3vw solid #655643;
	border-radius: 2vw;
	display: block;
	margin: auto;
}


ul.navBar {
	position: fixed;
	overflow: hidden;
	/*background-color: 655643;*/
	padding: 0px;
	width:100%;
	font-family: 'Roboto Slab', serif;
	font-weight: 100;
	z-index: 2;
}

ul.navBar li {
	display: inline-block;
	width: 15%;
	text-align: center;
	background-color: #655643;
	/*border-bottom:4px solid #F6F7D4;*/
}

ul.navBar li a {
	display: block;
	text-decoration: none;
	padding: 10px 0px;
	color: #F2F2F2;
	font-size: 20px;
	transition: background-color 0.5s, margin-top 0.5s, color 0.5s;
}

ul.navBar li a:hover:not(.active) {
	background-color: #80BCA3;
	/*color: #171619;*/
	margin-top: 10px;
	border-bottom: #171619;
}

ul.navBar li a.active:hover{
	margin-top: 10px;
}


div.page{
	width: 100%; 
	/*height: 100vh;*/
	display: block;
	padding-top: 46px;
	/*overflow: scroll;*/
	font-family: 'Roboto Slab', serif;
}

div.pageWithoutHeightConstriction{
	width: 100%; 
	display: block;
	padding-top: 46px;
	/*overflow: scroll;*/
	font-family: 'Roboto Slab', serif;
}

div.sideContent{
	width: 27%;
	height:81vh;
	/*background-color: red;*/
	transform: translateY(6vh);
}

.sideContent div{
	width: 80%;
	height: 100%;
	/*background-color: blue;*/
	margin: 0 auto;
	/*border: 0.5vw solid #655643;*/
	/*border-radius: 20px;*/
}

.sideContent div p{
	font-family: 'Dancing Script', cursive;
	font-style: bold;
	font-size: 2.3vw;
	margin-top: 40%;
	text-align: center;
	color: #655643;
}

h1.title{
	color: #F6F7D4;
	font-family: 'Dancing Script', cursive;
	font-style: bold;
	font-size: 5vw
}

div.chartSetup{
	display: block;
	width: inherit;
	height: 51%;
	margin: 0 auto;
	/*background-color: blue;*/
	/*border-radius: 4vw;*/
	overflow: hidden;
	padding: 1vw;
}

div.chartSetup div{
	display: inline-block;
	width: 50%;
	height: inherit;
	margin: 0 auto;
	/*background-color: red;*/
	/*padding: 5px;*/
	/*padding: 1vw;*/

}

.chartSetup img{
	/*width: 100px;
	height:100px;*/
	width:90%;
	height:auto;
	vertical-align:top;
	margin: auto;
	display: block;
	border-radius: 3vw;
}