*{
	margin: 0;
	padding: 0;
}

p{
	color: green
	width: 70%
}

#first-paragraph{
	color: green;
}

/*.later-paragraph{
	background-color: orange;
	width: 65%;
}*/

#header {
	width:100%;
	margin:0;
	background-color: rgb(50,50,50);
	text-align = 
}

div{
	width: 70%;
	background-color: rgb(189, 211, 255);
	border: 1px solid red;
	border-radius: 10px;
	padding: 5px 10px;
	margin: 0 auto;
}